* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 2.5rem 7rem 0rem 7rem;
  display: flex;
  justify-content: center;
  height: 100vh;
}

#main-display {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 1500px;
  height: 100vh;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-self: flex-end;
}

.main-nav-link {
  margin-left: 2rem;
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}

.main-nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -25%;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.main-nav-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.main-nav-link:visited {
  text-decoration: none;
}

#hi {
  align-self: center;

  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 900;
  font-size: 4.5rem;
  width: 100%;
  max-width: 1500px;
}

#blurb-and-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1500px;
}

#blurb {
  font-size: 1.9rem;
  margin-top: 2rem;
  margin-right: 2rem;
  max-width: 1200px;
}

#image-cropper {
  width: 330px;
  height: 330px;
  min-width: 330px;
  min-height: 330px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid black;
}

#profile-picture {
  display: inline;
  margin: 0 auto;
  margin-left: -27%;
  height: 100%;
  width: auto;
}

#contact-nav {
  margin-top: 4rem;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.contact-icon {
  width: 30%;
  transition: all .2s ease-in-out;
}

.contact-icon:hover {
  transform: scale(1.2);
}

#content-header {
  justify-self: center;
  align-self: center;

  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 900;
  font-size: 4.5rem;
  width: 100%;
  max-width: 1500px;
}

#content-description {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  width: 100%;

}

/* .medium-widget-article__image {
  max-width: 650px;
}

.medium-widget-article__image>img {
  width: 100%;
} */