* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 2rem;
  display: flex;
  justify-content: center;
}

#main-display {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 1000px;
  height: 100vh;
}

.main-nav {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-self: flex-end;
}

.main-nav-link {
  margin-left: 1rem;
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.main-nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -10%;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.main-nav-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.main-nav-link:visited {
  text-decoration: none;
}


#hi {
  align-self: center;

  margin-top: 3rem;
  font-weight: 900;
  font-size: 2.5rem;
  width: 100%;
  max-width: 1000px;
}

#blurb-and-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
}

p {
  font-size: 1.3rem;
  margin-top: 2rem;
  margin-right: 2rem;
  max-width: 650px;
}

#image-cropper {
  width: 220px;
  height: 220px;
  min-width: 220px;
  min-height: 220px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid black;
}

#profile-picture {
  display: inline;
  margin: 0 auto;
  margin-left: -27%;
  height: 100%;
  width: auto;
}

#contact-nav {
  margin-top: 4rem;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.contact-icon {
  width: 25%;
}