#goodreads-widget {
    font-family: Arial, Helvetica, sans-serif;
}

#goodreads-widget a {
    text-decoration: none;
    color: black
}

.gr_custom_container_1588112847 {
    /* customize your Goodreads widget container here*/
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    color: #000000;

}

.gr_custom_header_1588112847 {
    /* customize your Goodreads header here*/
    display: none;
}

.gr_custom_each_container_1588112847 {
    /* customize each individual book container here */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 220px;
    margin-bottom: 10px;
    overflow: auto;
    text-align: center;
}

.gr_custom_book_container_1588112847 {
    /* customize your book covers here */
    overflow: hidden;
    margin-right: 4px;
    width: 100px;
    box-shadow: 0px 4px 9px -2px rgba(0, 0, 0, 0.75);
}

.gr_custom_title_1588112847 {
    /* customize your titles here */
    margin-top: .7rem;
    font-size: 1.2rem;
}

.gr_custom_author_1588112847 {
    /* customize your author names here */
    margin-top: .3rem;
    font-size: .8rem;
}

.gr_custom_rating_1588112847 {
    /* customize your rating stars here */
    margin-top: .25rem;
    order: 1;
}


.gr_custom_review_1588112847 {
    display: none;
}